---
layout: archive
title: "Tutorials"
permalink: /tutorials/
author_profile: true
---

{% include base_path %}

{% assign grouped_courses = site.teaching | map: "course" | compact | uniq %}

{% for course_name in grouped_courses %}
  <h2><a href="/tutorials/{{ course_name | slugify }}/">{{ course_name }}</a></h2>
{% endfor %}

{% assign standalone_posts = site.teaching | where_exp: "post", "post.course == nil" %}

{% for post in standalone_posts reversed %}
  {% include archive-single.html %}
{% endfor %}